/* General styles */
article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
    background: white;
    border-top: 1mm solid #b20000;
    border-bottom: 1mm solid #b20000; 
    background-image: url('top-image.png'), url('bottom-image.png'), 
      linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent 50%, rgba(0, 0, 0, 0.3));
    background-position: top, bottom, top; 
    background-size: 100% auto, 100% auto, 100% 100%; 
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
  
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 100px;  
    height: 100px; 
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    padding: 30px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
  
    background-image: url('logo.png');
    background-size: contain; 
    background-repeat: no-repeat;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2)); 
  }
  
  address {
    position: absolute;
    bottom: 10mm; 
    right: 10mm;
    font-size: 12px;
    text-align: right;
  }
  